
<div class="spread3-container">
    <h1 class="spread3-title">Three Card Spread</h1>

    <div class="card-spread3 three-card-spread3">
        <div class="spread3-card fragment" data-fragment-index="1">
            <img src="images/Major7.png" alt>

        </div>

        <div class="spread3-card fragment" data-fragment-index="2">
            <img src="images/Risk6.png" alt>

        </div>

        <div class="spread3-card fragment" data-fragment-index="3">
            <img src="images/Change6.png" alt>
        </div>
    </div>

    <div class="insights-list">
        <ul>
            <li class="fragment" data-fragment-index="4">
                Monolith centralizes power but restricts flexibility and rapid
                change.
            </li>
            <li class="fragment" data-fragment-index="5">
                Overengineering in Monolith bloats code, deepening complexity
                and slowing progress.
            </li>
            <li class="fragment" data-fragment-index="6">
                Tech debt hidden in massive code hinders future evolution and
                agility.
            </li>
            <li class="fragment" data-fragment-index="7">
                Trim complexity, modularize core components, and schedule debt
                pay-down promptly.
            </li>

        </ul>
    </div>
</div>