
<div class="spread3-container">
    <h1 class="spread3-title">Three Card Spread</h1>

    <div class="card-spread3 three-card-spread3">
        <div class="spread3-card fragment" data-fragment-index="1">
            <img src="images/Major21.png" alt>

        </div>

        <div class="spread3-card fragment" data-fragment-index="2">
            <img src="images/Flow3.png" alt>

        </div>

        <div class="spread3-card fragment" data-fragment-index="3">
            <img src="images/Structure5.png" alt>
        </div>
    </div>

    <div class="insights-list">
        <ul>
            <li class="fragment" data-fragment-index="4">
                A Black Swan demands resilience; build architectures expecting
                rare disasters.
            </li>
            <li class="fragment" data-fragment-index="5">
                Backlog Grooming identifies hidden dependencies that could
                amplify unforeseen disruptions.
            </li>
            <li class="fragment" data-fragment-index="6">
                Layering isolates faults; clear boundaries prevent disruption
                cascades across services.
            </li>
            <li class="fragment" data-fragment-index="7">
                Practice chaos drills, refine backlog, enforce layering to build
                continuous resilience.
            </li>

        </ul>
    </div>
</div>