
<div class="spread3-container">
    <h1 class="spread3-title">Three Card Spread</h1>

    <div class="card-spread3 three-card-spread3">
        <div class="spread3-card fragment" data-fragment-index="1">
            <img src="images/Major5.png" alt>

        </div>

        <div class="spread3-card fragment" data-fragment-index="2">
            <img src="images/Change10.png" alt>

        </div>

        <div class="spread3-card fragment" data-fragment-index="3">
            <img src="images/Flow9.png" alt>
        </div>
    </div>

    <div class="insights-list">
        <ul>
            <li class="fragment" data-fragment-index="4">
                Hold a clear system vision; remind team why this product truly
                matters.
            </li>
            <li class="fragment" data-fragment-index="5">
                Stop scattered meetings; protect focused work so creative ideas
                can flow again.
            </li>
            <li class="fragment" data-fragment-index="6">
                Gracefully retire obsolete components; free resources to build
                features aligned with vision.
            </li>
            <li class="fragment" data-fragment-index="7">
                Use workshops to clarify vision, prune meetings, and plan
                disciplined sunsets.
            </li>

        </ul>
    </div>
</div>